annoy==1.17.0
Flask==1.1.2
hnswlib==0.6.2
jieba==0.42.1
loguru==0.6.0
numpy==1.22.3
opencv_python==4.5.4.60
Pillow==9.1.1
python_Levenshtein==0.12.2
pytrec_eval==0.5
PyWavelets==1.1.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
text2vec==1.1.5
torch==1.10.0
tqdm==4.52.0
transformers==4.18.0
